
$font_family_main: 'Didact Gothic', sans-serif;
$font_weigh_main: 400;
$font_size_main: 18px;
$font_bg_main: #000000;
$font_color_main: #ffffff;

$font_weigh_title: 700;
$font_size_title: 44px;

$font_bg_cards: #ffffff;

$font_weigh_text: 400;
$font_size_text: 18px;